<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GSO Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/puse-icons-feather/feather.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.addons.css}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <link rel="stylesheet" th:href="@{/css/select2.min.css}">
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/css/shared/style.css}">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{/css/demo_1/style.css}">
    <!-- End Layout styles -->
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" /> 
  </head>

<body class="sidebar-toggle-display sidebar-hidden">
	<div class="container-scroller">	
	<nav th:replace="fragments/shared :: header"></nav>
      <div class="container-fluid page-body-wrapper">
      	<nav th:replace="fragments/shared :: sidebar"></nav>
      	<div class="main-panel">
          <div class="content-wrapper">
<!-----------------------------------------------------------------------REGISTRO  ------------------------------------------------------->
			<div class="col-12 grid-margin">
	            <div class="card">                
	            	<div class="card-body"> 
	              	<h4>Nueva acta</h4>
	              	<div class="grupo_datos grupo_enmarcado">      
                    <div class="row">
	                    <div class="col-md-6">
		                    <div class="row">                    	
		                        <div class="col-md-12">
		                          <div class="form-group row">
		                            <label class="col-sm-3 col-form-label texto_derecha">Fábrica:</label>
		                            <div class="col-sm-9">
		                            	<input id="acta_fabrica_id" type="hidden" th:value="${fabrica.id}">
										<span class="fecha_plomo" th:text="${fabrica.nombre}"></span>
		                            </div>
		                          </div>
		                        </div>
		                    </div>		                   	
		                    <div class="row">                      	
		                        <div class="col-md-12">
		                          <div class="form-group row">
		                            <label class="col-sm-3 col-form-label texto_derecha">Periodo:</label>
		                            <div class="col-sm-9">	                            
		                               <select id="select_periodo" class="form-control border-primary">
											<option th:each="opcion:${listaPeriodos}" th:value="${opcion.id}" th:text="${opcion.codigo}"></option>							
										</select>	      
		                            </div>
		                          </div>
		                        </div>
		                 	</div>                     
		                	<div class="row">                      	
		                       <div class="col-md-12">
		                         <div class="form-group row">
		                           <label class="col-sm-3 col-form-label texto_derecha"></label>
		                           <div class="col-sm-9">                             
		                            <button onclick="buscarJiras()" class="btn btn-primary mr-2">Buscar</button>
		                           </div>
		                         </div>
		                       </div>
		                 	</div>  
	                    </div>
<!----------------------------------------------------------------------- pie  ------------------------------------------------------->
	                    <div class="col-md-6">
	                    	 <div class="row">                    	
		                        <div class="col-md-12">
		                          <div class="form-group row">
		                            <label class="col-sm-3 col-form-label texto_derecha">Cliente:</label>
		                            <div class="col-sm-9">
		                            	<select id="acta_cliente_id" class="form-control border-primary">
											<option th:each="opcion:${listaEmpresas}" th:value="${opcion.id}" th:text="${opcion.nombrecorto}"></option>							
										</select>
		                            </div>
		                          </div>
		                        </div>
		                    </div>	
	                    	<div class="row">                    	
		                        <div class="col-md-12">
		                          <div class="form-group row">
		                            <label class="col-sm-3 col-form-label texto_derecha">Tipo:</label>
		                            <div class="col-sm-9">
		                            	<select id="acta_tipo_id" class="form-control border-primary">
											<option th:each="opcion:${listaTiposActa}" th:value="${opcion.id}" th:text="${opcion.indicador}"></option>							
										</select>		                            	
		                            </div>
		                          </div>
		                        </div>
		                    </div>
		                    
	                    </div>
                   	</div> 
<!-----------------------------------------------------------------------Sección 2  ------------------------------------------------------->      	                 	
					
	                 	<h6>Detalle</h6>
	              		<div class="div_fondo_blanco">
	              			<table class="table">
	              				<thead>
	              					<tr>
	              						<th style="min-width: 145px;">Jira</th>
		              					<th>Resumen</th>
		              					<th>Tipo</th>
		              					<th>C. Costo</th>
		              					<th>Hs Des</th>
		              					<th>Hs Ges. Des</th>
		              					<th>Hs Ges. Conf</th>
		              					<th>Total Hs</th>
		              					<th>Tarifa</th>
		              					<th style="width: 130px;">Importe total</th>		              					
	              					</tr>
	              				</thead>
	              				<tbody id="cuerpo_tabla">
	              				</tbody>
	              			</table>	              									
						</div>						 	  
						<span id="id_mensaje_cc" class="mensaje_restriccion_cc dis_hiden"> <i class="mdi mdi-alert"></i> No podrá continuar hasta que <b>todos</b>  los Jiras cuenten con <b>centro de costo.</b>  En caso ver este mensaje, por favor contactar un administrador.</span>
						<div id="mensaje_resultado" class="mensaje_resultado_tabla"></div> 	  
					<div id="calculador" class="row dis_hiden">
						<div class="linea_div"></div>
							<div class="col-md-6 grupo_texto_mediano">
								<div class="row">                    	
			                        <div class="col-md-12">
			                          <div class="row">
			                            <label class="col-sm-5 col-form-label2 texto_derecha">Horas gest. demanda:</label>
			                            <div class="col-sm-7 d-flex">
			                            	<input onchange="cambiovalor()" id="inp_dem" type="number" class="form-control-peque" placeholder="##">										
			                            	<span class="mensaje_input"> (Opcional)</span>
			                            </div>
			                          </div>
			                        </div>
			                    </div>
			                    <div class="row">                    	
			                        <div class="col-md-12">
			                          <div class="row">
			                            <label class="col-sm-5 col-form-label2 texto_derecha">Horas gest. config:</label>
			                            <div class="col-sm-7 d-flex">
			                            	<input onchange="cambiovalor()" id="inp_conf" type="number" class="form-control-peque" placeholder="##">										
			                            	<span class="mensaje_input"> (Opcional)</span>
			                            </div>
			                          </div>
			                        </div>
			                    </div>
			                    <div class="row">                    	
			                        <div class="col-md-12">
			                          <div class="row">
			                            <label class="col-sm-5 col-form-label2 texto_derecha">Tarifa por hora:</label>
			                            <div class="col-sm-7 d-flex">
			                            	<input onchange="cambiovalor()" id="inp_tarifa" type="number" class="form-control-peque" placeholder="S/ ">										
			                            	<span id="mensaje_tarifa" class="mensaje_input"> (Obligatorio)</span>			                            	
			                            </div>
			                          </div>
			                        </div>
			                    </div>
			                    <div class="row">                    	
			                        <div class="col-md-12">
			                          <div class="row">
			                            <label class="col-sm-5 col-form-label texto_derecha"></label>
			                            <div class="col-sm-7 d-flex">
			                            	<button onclick="calcularMontos()" class="btn btn-primary mr-2">Aplicar</button>										
			                            </div>
			                          </div>
			                        </div>
			                    </div>
		                    </div>
		                    <div class="col-md-6">
		                    	 <div class="detalle_acta">
		                    	 	<h4 class="centrado">Resumen de Acta</h4>
		                    	 	<br>
									<table class="tabla_detalle_acta">
										<tbody>
											<tr>
												<td class="tabla_detalle_texto">Total de horas: </td>
												<td id="resumen_total_horas" class="tabla_detalle_numero">0</td>
											</tr>
											<tr>
												<td class="tabla_detalle_texto">Tarifa por hora: </td>
												<td  id="resumen_tarifa" class="tabla_detalle_numero">S/ 0.00</td>
											</tr>
											<tr>
												<td class="tabla_detalle_texto">Importe TOTAL: </td>
												<td  id="resumen_total_monto" class="tabla_detalle_numero">S/ 0.00</td>
											</tr>
										</tbody>
									</table>
									<div id="mensaje_resultado" class="mensaje_restriccion_cc">*Los cálculos realizados en esta vista son una aproximación muy cercana a la realidadz.</div>
								</div>
		                    </div>
		                </div>                         		       	 
					</div>
					<br>
					 <div id="btns_enviar_acta" class="div_derecha dis_hiden">
                    	<button class="btn btn-secondary mr-2" onclick="back()">Cancelar</button>  
	              		<button class="btn btn-primary mr-2" onclick="enviar_acta()">Guardar</button>    
                    </div>
                </div>   
	        </div>
			</div>
<!------------------------------------------------------------------------------------------------------------>
         </div> 
      </div>
   	</div>
 	</div>	
<!------------------------------------------------------------------------------------------------------------>
	<div id="domMessage" class="un_modal">
		<div class="contenido_loader"> 
    		<h6>Cargando...</h6> 
    	</div>
	</div>

<!---------------------------------              SCRIPS                      --------------------------------->
<!------------------------------------------------------------------------------------------------------------>
    <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
    <script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
    <script th:src="@{/js/shared/off-canvas.js}"></script>
    <script th:src="@{/js/shared/hoverable-collapse.js}"></script>
    <script th:src="@{/js/shared/misc.js}"></script>
    <script th:src="@{/js/shared/settings.js}"></script>
    <script th:src="@{/js/shared/todolist.js}"></script>    
    <script th:src="@{/js/jquery/dist/jquery.min.js}"></script>    
    
    <script th:src="@{/js/nueva_acta.js}"></script> 
    <script th:src="@{/js/menus.js}"></script>    
    <script type="text/javascript">
    	cargar_menus();
	</script>
	<script type="text/javascript">

    $( document ).ajaxStart(function() 
    {
    	$( "#domMessage" ).show();    	

    }).ajaxStop(function() 
    {
    	$( "#domMessage" ).hide();    	

    });
	</script>
</body>
</html>
