	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GSO Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/puse-icons-feather/feather.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.addons.css}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/css/shared/style.css}">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{/css/demo_1/style.css}">
    <!-- End Layout styles -->
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" /> </head>
<body class="sidebar-toggle-display sidebar-hidden">
	<div class="container-scroller">	
	<nav th:replace="fragments/shared :: header"></nav>
      <div class="container-fluid page-body-wrapper">
      	<nav th:replace="fragments/shared :: sidebar"></nav>
      	<div class="main-panel">
          <div class="content-wrapper">
<!-----------------------------------------------------------------------INICIO  ------------------------------------------------------->
			<div class="card">
				<div class="card-body">
				<div class="row">
					<div class="col-sm-12 col-md-12">
						<h4>JIRAS ASIGNADOS</h4>	
					</div> 				
				</div>		
				<div class="contenedor_tabla">
					<table  id="order-listing" class="table table-striped table-hover">	
						<thead>
					  		<tr>	
					  			<th>Etiqueta</th>	
					  			<th>Jira</th>					  			
					  			<th>Indicador</th>
					  			<th>Área</th>					  			
					  			<th>Descripcón</th>	
					  			<th>Estado</th>
					  			<th>Asignado a</th>	
								<th>Responsable</th>					  			
					  			<th th:if="${flag_pandora == 1}">Fecha entrega Des</th>		
					  			<th>Fecha entrega</th>						  																
					  		</tr>					  		
					  	</thead>				
					  	<tbody>
					  		<tr th:each="jira:${lstJiras}">
					  			<td  th:class="${jira.etiqueta != null ? jira.etiqueta.css_class : ''}" th:text="${jira.etiqueta != null ? jira.etiqueta.nombre : 'ND'}"> </td>
					  			<td><a th:href="'https://jira.cavali.com.pe:8443/browse/' +${jira.jira}" target=”_blank” th:text="${jira.jira}"></a></td>					  						  			
					  			<td><span th:if="${jira.indicador!=null}" th:class="${jira.indicador.css_class}"><i th:class="${jira.indicador.icon_ind_contable}"></i></span></td>
					  			<td>
					  				<span th:text="${jira.empresa != null} ? ${jira.empresa.nombre} : ''"></span>
					  				<span th:text="${jira.areaSolicitante != null} ? ' - ' + ${jira.areaSolicitante.nombre} : ''"></span>
					  			</td>	
					  			<td th:text="${jira.descripcion}"></td>	 
					  			<td class="centrado"><span th:if="${jira.estado != null && jira.estado.grupoEstado != null}" th:class="${jira.estado.grupoEstado.css_class}" th:text="${jira.estado.grupoEstado.grupoEstado}"></span></td> 	
					  			<td th:text="${jira.asignado}"></td> 	
					  			<td th:text="${jira.responsable}"></td>
					  			<td th:if="${flag_pandora == 1}">
					  				<span th:text="${#dates.format(jira.fecha_entrega_desarrollo, 'dd-MM-yyyy')}"></span>
					  			</td>	
					  			<td>
						  			<div class="d_felx guardar_tabla_div">
						  				<input onchange="val_new(this)" th:value="${flag_pandora == 1 ? #dates.format(jira.fecha_entrega_certificacion, 'dd-MM-yyyy') : #dates.format(jira.fecha_entrega_desarrollo, 'dd-MM-yyyy')}" type="text" class="input_fecha_tabla" placeholder="dd-mm-yyyy" autocomplete="off">
						  				<button class="boton_guardar_tabla_off">
						                	<i class="mdi mdi-check"></i>
						                </button>	
						  			</div>
					  			</td>					  				
										
					  		</tr>
					  	</tbody>
				  	</table>				  	
			  	</div>			  	
		  	</div>
<!----------------------------------------------------------------------- 	FIN	 ------------------------------------------------------->
          </div>      
        </div>
      </div>
   	</div>
   	</div>
<!----------------------------------------------------------------------- 	MODALES	 ------------------------------------------------------->

<!------------------------------------------------------------------------------------------------------------>
<!---------------------------------              SCRIPS                      --------------------------------->
<!------------------------------------------------------------------------------------------------------------>
    <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
    <script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
    <script th:src="@{/js/shared/off-canvas.js}"></script>
    <script th:src="@{/js/shared/hoverable-collapse.js}"></script>
    <script th:src="@{/js/shared/misc.js}"></script>
    <script th:src="@{/js/shared/settings.js}"></script>
    <script th:src="@{/js/shared/todolist.js}"></script>    
    <script th:src="@{/js/prov_fechas.js}"></script>   
    <script th:src="@{/js/menus.js}"></script>    
    
	<!-- DATTABL --->	<script th:src="@{/js/dtable/jquery.dataTables.js}"></script>
  	<!-- DATTABL --->	<script th:src="@{/js/dtable/dataTables.bootstrap4.js}"></script>
  	<!-- DATTABL --->	<script th:src="@{/js/dtable/data-table.js}"></script>
    <script type="text/javascript">
    	cargar_menus();
	</script>
</body>
</html>
