<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GSO Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/puse-icons-feather/feather.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.addons.css}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" th:href="@{/css/shared/dataTables.bootstrap4.css}"/>
    <!-- End plugin css for this page -->
    <link rel="stylesheet" th:href="@{/css/select2.min.css}">
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/css/shared/style.css}">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{/css/demo_1/style.css}">
    <!-- End Layout styles -->
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" /> 
  </head>

<body class="sidebar-toggle-display sidebar-hidden">
	<div class="container-scroller">	
	<nav th:replace="fragments/shared :: header"></nav>
      <div class="container-fluid page-body-wrapper">
      	<nav th:replace="fragments/shared :: sidebar"></nav>
      	<div class="main-panel">
          <div class="content-wrapper">
<!----------------------------------------------------------------------- CONFIRMADAS  ------------------------------------------------------->
			<div class="col-12 grid-margin">
	            <div class="card">                
	              <div class="card-body"> 
	             	<h4>Registros <b>aprobados</b></h4>
					<table class="table table-striped table-hover" id="order-listing">
                  		<thead>
                  			<tr>	 
                  				<th>Desarrollador</th>                 					   
	               				<th>Tipo tarea</th>	 
                   				<th>¿Facturable?</th>	                  				
                   				<th>Hs trabajo</th>	
                   				<th>Hs gestión</th>	  
                   				<th>Fecha de trabajo</th> 
                   				<th>Fecha de registro</th> 
                   				<th>Jira</th>
                   				<th>Cliente</th>                   				
                  			</tr>
                  		</thead>
                  		<tbody id="detalle_registros_aprobados">	 
                  			<tr th:each="registro:${listaRegistrosAprobados}">
                  				<td  th:text="${registro.usuario.descripcion}"></td>
                   				<td  th:text="${registro.tipoActividad.descripcion}"></td>
                   				<td  th:text="${registro.flagfacturar == true ? 'Sí' : 'No'}"></td>	
                  				<td  th:text="${registro.nro_horas}"></td>
                  				<td  th:text="${registro.nro_horas_gestion}"></td>
                  				<td  th:text="${#dates.format(registro.fecha_real_trabajo, 'dd-MM-yyyy')}"></td>
                  				<td  th:text="${#dates.format(registro.fecha_registro, 'dd-MM-yyyy')}"></td>
                  				<td  th:text="${registro.hjira.jira}"></td>
                  				<td  th:text="${registro.hjira.empresa.nombre}"></td>
                  			</tr>              		
                  		</tbody>
                  	</table>       
	              </div>
	            </div>
			</div>
<!------------------------------------------------------------------------------------------------------------>
         </div> 
      </div>
   	</div>
 	</div>	
<!----------------------------------------------------------------------- MODAL ------------------------------------------------------->

<!------------------------------------------------------------------------------------------------------------>
<!---------------------------------              SCRIPS                      --------------------------------->
<!------------------------------------------------------------------------------------------------------------>
    <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
    <script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
    <script th:src="@{/js/shared/off-canvas.js}"></script>
    <script th:src="@{/js/shared/hoverable-collapse.js}"></script>
    <script th:src="@{/js/shared/misc.js}"></script>
    <script th:src="@{/js/shared/settings.js}"></script>
    <script th:src="@{/js/shared/todolist.js}"></script>    
    <script th:src="@{/js/jquery/dist/jquery.min.js}"></script>
       
    <script th:src="@{/js/menus.js}"></script>    
    <script type="text/javascript">
    	cargar_menus();
	</script>
	<!-- DATTABL --->	<script th:src="@{/js/dtable/jquery.dataTables.js}"></script>
  	<!-- DATTABL --->	<script th:src="@{/js/dtable/dataTables.bootstrap4.js}"></script>
  	<!-- DATTABL --->	<script th:src="@{/js/dtable/data-table.js}"></script>
</body>
</html>
