<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GSO Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/puse-icons-feather/feather.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.addons.css}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <link rel="stylesheet" th:href="@{/css/select2.min.css}">
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/css/shared/style.css}">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{/css/demo_1/style.css}">
    <!-- End Layout styles -->
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" /> 
  </head>

<body class="sidebar-toggle-display sidebar-hidden">
	<div class="container-scroller">	
	<nav th:replace="fragments/shared :: header"></nav>
      <div class="container-fluid page-body-wrapper">
      	<nav th:replace="fragments/shared :: sidebar"></nav>
      	<div class="main-panel">
          <div class="content-wrapper">
<!----------------------------------------------------------------------- CONFIRMADAS  ------------------------------------------------------->
			<div class="col-12 grid-margin">
	            <div class="card">                
	              <div class="card-body"> 
	              <h4 th:text="${titulo}"></h4>           
	                 	<table class="table table-striped table-hover">
	                  		<thead>
	                  			<tr>
	                  				<th>Codigo</th>
	                  				<th>Versión</th>
	                  				<th>Cliente</th>	
	                  				<th>Fabrica</th>
	                  				<th>Tipo</th>  
	                  				<th>Periodo</th>                      				
	                  				<th>Fecha registro</th>
	                  				<th>Total horas</th>	
	                  				<th>Monto acta</th>
	                  				<th>Estado</th>  
	                  				<th>Revisar</th>	
	                  			</tr>
	                  		</thead>
	                  		<tbody id="detalle_registros">
	                  			<tr  th:each="registro:${listaActas}">  
	                  				<td class="no_mostrar"  th:text="${registro.id}"></td>                   				
	                  				<td  th:text="${registro.codigo}"></td>
	                  				<td  th:text="${registro.version}"></td>
	                  				<td  th:text="${registro.empresa.nombre}"></td>
	                  				<td  th:text="${registro.fabrica.nombre}"></td>
	                  				<td  th:text="${registro.indicador.indicador}"></td>
	                  				<td  th:text="${registro.periodo.periodo}"></td>
	                  				<td  th:text="${#dates.format(registro.fecha_registro, 'dd-MM-yyyy')}"></td>
	                  				<td  th:text="${registro.total_horas}"></td>
	                  				<td  th:text="${registro.monto_neto}"></td>
	                  				<td> <span th:class="${registro.estado.css_clase}" th:text="${registro.estado.descripcion}"></span></td>
	                  				<td> 
	                  					<form action="/acta/actadetalle" method="post">	                  					
	                  						<input type="hidden" name="id_acta" th:value="${registro.id}">
	                  						<button type="submit" title="ver" class="btn btn-icons btn-rounded btn-outline-success">
						                		<i class="mdi mdi-eye"></i>
						                	</button>
	                  					</form>
	                  				</td>
	                  			</tr>
	                  		</tbody>
	                  	</table>   	                      	                 	
	                  
	              </div>
	            </div>
			</div>
<!----------------------------------------------------------------------- APROBADAS  ------------------------------------------------------->

<!------------------------------------------------------------------------------------------------------------>
         </div> 
      </div>
   	</div>
 	</div>	

<!------------------------------------------------------------------------------------------------------------>
<!---------------------------------              SCRIPS                      --------------------------------->
<!------------------------------------------------------------------------------------------------------------>
    <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
    <script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
    <script th:src="@{/js/shared/off-canvas.js}"></script>
    <script th:src="@{/js/shared/hoverable-collapse.js}"></script>
    <script th:src="@{/js/shared/misc.js}"></script>
    <script th:src="@{/js/shared/settings.js}"></script>
    <script th:src="@{/js/shared/todolist.js}"></script>    
    <script th:src="@{/js/jquery/dist/jquery.min.js}"></script>
    
    <script th:src="@{/js/menus.js}"></script>    
    <script type="text/javascript">
    	cargar_menus();
	</script>
</body>
</html>
