<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GSO Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/puse-icons-feather/feather.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.addons.css}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <link rel="stylesheet" th:href="@{/css/select2.min.css}">
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/css/shared/style.css}">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{/css/demo_1/style.css}">
    <!-- End Layout styles -->
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" /> 
  </head>

<body class="sidebar-toggle-display sidebar-hidden">
	<div class="container-scroller">	
	<nav th:replace="fragments/shared :: header"></nav>
      <div class="container-fluid page-body-wrapper">
      	<nav th:replace="fragments/shared :: sidebar"></nav>
      	<div class="main-panel">
          <div class="content-wrapper">
<!-----------------------------------------------------------------------INICIO  ------------------------------------------------------->
			
			 <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4>Registrar nuevo acuerdo</h4><br>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tipo</label>
                            <div class="col-sm-9">
                              <select class="form-control" id="id_categoria">
                                <option th:each="tipo:${listaTipos}" th:value="${tipo.id}" th:text="${tipo.nombre}"></option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6" id="area_selector" style="display: none;">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Area:</label>
                            <div class="col-sm-9">                              
                              <select class="form-control" id="id_input2" disabled="disabled">                              	
                              	<option th:each="area:${listaAreas}" th:value="${area.id}" th:text="${area.nombre}"></option>
                              </select>
                          	</div>
                          </div>
                        </div>
                        <div class="col-md-6" id="jira_selector">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Jira:</label>
                            <div class="col-sm-9">                              
                              <select class="form-control js-example-basic-single" id="id_input">
                              	<option th:each="jira:${listaJiras}" th:value="${jira.id}" th:text="${jira.jira} + ' ' + ${jira.resumen}"></option>
                              </select>
                          	</div>
                          </div>
                        </div>                        
                      </div>                      
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Responsable:</label>
                            <div class="col-sm-9">
                              <select id="responsable" class="form-control">
                                <option th:each="usuario:${listaResponsables}" th:value="${usuario.id}" th:text="${usuario.username}"></option>
                              </select>
                            </div>
                          </div>
                        </div>
                         <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Fecha fin:</label>
                            <div class="col-sm-9">
                              <input onblur="clear_alert('alet-fecha')" type="date" id="fecha_entrega" class="form-control" placeholder="dd/mm/yyyy" required="required" /> 
                              <div id="alet-fecha" class="alerta_forms"></div>
                              </div>
                              
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Detalles del acuerdo:</label>
                            <div class="col-sm-9">
                              <textarea onblur="clear_alert('alet-obser')" class="form-control" id="exampleTextarea1" rows="2" required="required"></textarea>
                          	  <div id="alet-obser" class="alerta_forms"></div>
                          </div>
                        </div>
                      </div>
                      </div>
                      <button onclick="agregar_acuerdo()" class="btn btn-success mr-2">Guardar</button>
                                        
                  </div>
                </div>
              </div>
             <div class="col-12 grid-margin">
				<div class="card">
					<div class="card-body">
						<h4>Acuerdos</h4><br>				
						<div>
						<div class="contenedor_tabla">
						<table class="table table-striped">	
							<thead>
						  		<tr>
						  			<th>Id</th>						  			
						  			<th>Tipo</th>
						  			<th>Responsable</th>
						  			<th>Acuerdo</th>
						  			<th>Area</th>	
						  			<th>Jira</th>	
						  			<th>Fecha Registro</th>
									<th>Fecha Entrega</th>
									<th>Fecha Cierre</th>
									<th>Comentario de cierre</th>
									<th>Estado</th>	
									<th>Acción</th>					
						  		</tr>					  		
						  	</thead>				
						  	<tbody id="cuerpo">
						  		<tr th:each="acuerdo:${listaAcuerdos}">
						  			<td th:text="${acuerdo.id}"></td>						  			
						  			<td>
							  			<div th:if="${acuerdo.tipo == 'Jira'}">
							  				<i  title="Jira" style="font-size: 18px; color: #128bfc;" class="mdi mdi-jira"></i>
							  			</div>
							  			<div th:if="${acuerdo.tipo == 'Otros'}">
							  				<i  title="Otros" style="font-size: 18px; color: #19d895;" class="mdi mdi-comment-processing-outline"></i>
							  			</div>
						  			</td>	
						  			<td th:text="${acuerdo.responsable}"></td>	
						  			<td class="ancho-comentario" th:text="${acuerdo.observaciones}"></td>	
						  			<td th:text="${acuerdo.area}"></td>			
						  			<td th:text="${acuerdo.jira}"></td>	
						  			
						  			<td class="td_monto" > <span class="fechas_plomo" th:text="${acuerdo.fecha_registro}"></span> </td>	
						  			<td class="td_monto"> <span th:if="${acuerdo.fecha_entrega != null}" class="fechas_rojo" th:text="${acuerdo.fecha_entrega}"></span> </td>	
						  			<td class="td_monto"> <span th:if="${acuerdo.fecha_cierre != null}" class="fechas_verde"  th:text="${acuerdo.fecha_cierre}"></span> </td>	
						  			<td class="ancho-comentario" th:text="${acuerdo.observacion}"></td>	
						  			<td class="td_monto"> <span th:class="${acuerdo.clase}" th:text="${acuerdo.estado}"></span> </td>
						  							  			
									<td>
										<div class="d-flex ico_centrado texto_derecha">
											<button th:if="${acuerdo.terminado != 1}"  onclick="confirm_terminar(this,1)" class="btn btn-icons btn-inverse-success" id="1" title="Terminar">
						                        <i class="mdi mdi-check"></i>					                     
						                    </button>
						                    <button th:if="${acuerdo.terminado != 1}"  onclick="confirm_terminar(this,2)" class="btn btn-icons btn-inverse-warning" id="2" title="Cancelar">
						                        <i class="mdi mdi-close"></i>					                     
						                    </button>						                   										
										</div>
									</td>
						  		</tr>
						  	</tbody>
					  	</table>
					  	<div class="contenedor_tabla">
				  	</div>
			  	</div>
			  </div>
		   </div>
		   <!------------------ El modal --------------------->
			<div id="mi_modal" class="un_modal">			
			  <!-- Modal content -->
			  
			  <div class="contenido_modal">
			  <div class="card-body">
			  	<div class="row">
				  	<div class="col-8 grid-margin">
				  		<div class="modal_header">Terminar acuerdo</div>	
				  	</div>				  
				  	<div class="col-4 grid-margin">
				  		<span class="close">&times;</span>
				  	</div>
			  	</div>
			  	<p>	El acuerdo cambiará a estado terminado.</p>
				<p>  	Añade un comentario: </p>	
			    
			    <textarea id="txar_terminar" class="form-control" rows="3" cols="100"></textarea>
			    <p>¿Continuar? No podrá volver atrás</p>
			    <div>
				    <button onclick="terminar_acuerdo()" class="btn btn-success mr-2">Sí</button>
				    <button id="boton_no" class="btn btn-danger mr-2">No</button>
			    </div>
			  </div>			
			</div>
			</div>
			<!--------------------------------------------------->			
<!----------------------------------------------------------------------- 	FIN	 ------------------------------------------------------->
          
          <footer th:replace="fragments/shared :: header"></footer>         
        </div>
      </div>
   	</div>
   	</div>
   	</div>
   	</div>
<!------------------------------------------------------------------------------------------------------------>
<!---------------------------------              SCRIPS                      --------------------------------->
<!------------------------------------------------------------------------------------------------------------>
    <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
    <script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
    <script th:src="@{/js/shared/off-canvas.js}"></script>
    <script th:src="@{/js/shared/hoverable-collapse.js}"></script>
    <script th:src="@{/js/shared/misc.js}"></script>
    <script th:src="@{/js/shared/settings.js}"></script>
    <script th:src="@{/js/shared/todolist.js}"></script>
    
     <script th:src="@{/js/jquery/dist/jquery.min.js}"></script>
     
    <script th:src="@{/js/select2.min.js}"></script>
    <script th:src="@{/js/dashboard.js}"></script>
    <script th:src="@{/js/acuerdos.js}"></script>
</body>
</html>
