	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GSO Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/puse-icons-feather/feather.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.addons.css}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/css/shared/style.css}">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{/css/demo_1/style.css}">
    <!-- End Layout styles -->
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" /> </head>
<body class="sidebar-toggle-display sidebar-hidden">
	<div class="container-scroller">	
	<nav th:replace="fragments/shared :: header"></nav>
      <div class="container-fluid page-body-wrapper">
      	<nav th:replace="fragments/shared :: sidebar"></nav>
      	<div class="main-panel">
          <div class="content-wrapper">
<!-----------------------------------------------------------------------INICIO  ------------------------------------------------------->
			<div class="card">
				<div class="card-body">
				<div class="row">
					<div class="col-sm-12 col-md-8">
						<h4>Administrador de Fechas - <span  id="titulo_lista">Todos</span></h4>	
					</div> 
					<div class="col-sm-12 col-md-4 texto_derecha">
						<button class="btn btn-outline-primary" onclick="actualizarjiras(this)">
	            			<i class="mdi mdi-refresh"></i>Actualizar BD
	            		</button>	
					</div>				
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="box_leyenda">
							<ul class="leyenda flex">													
								<li><i class="mdi mdi-tag et_comp"></i>Compromiso</li>						
								<li><i class="mdi mdi-tag et_prio"></i>Prioritario</li>
								<li><i class="mdi mdi-tag et_mbd"></i>Mejora BD</li>
								<li><i class="mdi mdi-tag et_cri"></i>Crítico</li>							
							</ul>								
						</div>
					</div>
					<div class="col-sm-12 col-md-6 texto-abajo">
						<div class="input-group col-xs-12 alin_bot">
							<label class="col-sm-3 col-form-label">Area:</label>
							<select id="filtro" onchange="filtrar()" name="filtro" class="form-control border-primary col-sm-9">
								<option th:value="6">Todos</option>
								<option th:each="area:${listaAreas}" th:value="${area.id}" th:text="${area.nombre}"></option>	
							</select>
							<span class="input-group-append">								
							</span>
						</div>
					</div>
				</div>		
					<div class="contenedor_tabla">
					<div class="d-flex texto-peque">
						<label>Buscar en la tabla: </label>						
						<input onkeyup="buscar(this)" class="buscador_sobretabla" type="text">
                        
					</div>
					<table  id="tabla" class="table table-striped table-hover">	
						<thead>
					  		<tr>	
					  			<th>Jira</th>
					  			<th>Área</th>					  			
					  			<th>Descripcón</th>												
								<th>Estado</th>												
								<th>Asignado</th>
								<th>Responsable</th>
								<th>Pruebas</th>	
								<th>Pase a producción</th>									
								<th></th>						
					  		</tr>					  		
					  	</thead>				
					  	<tbody>
					  		<tr th:each="jira:${lstJiras}">					  			
					  			<td th:class="${jira.etiqueta.css_class}" ><a th:href="'https://jira.cavali.com.pe:8443/browse/' +${jira.jira}" target=”_blank” th:text="${jira.jira}"></a></td>					  						  			
					  			<td th:text="${jira.areaSolicitante.nombrecorto}"></td>			
					  			<td th:text="${jira.resumen}"></td>	 
					  			
					  			<td class="centrado"><span th:if="${jira.estadoJira != null && jira.estadoJira.grupoEstado != null}" th:class="${jira.estadoJira.grupoEstado.css_class}" th:text="${jira.estadoJira.grupoEstado.grupoEstado}"></span></td> 	
					  			
					  			<td th:text="${jira.asignado}"></td> 	
					  			<td th:text="${jira.responsable}"></td>						  			
					  			<td>
					  				<input onclick="val_act(this)" onblur="val_new(this)" name="fecha1" th:value="${#dates.format(jira.fecha_pruebas, 'dd-MM-yyyy')}" type="text" th:class="${jira.fecha_pruebas != null ? 'input_fecha_azul' : 'input_sinfecha'}	" placeholder="aa-mm-yyyy" autocomplete="off">
					  			</td>
					  			<td>
			                        <input onclick="val_act(this)" onblur="val_new(this)" name="fecha2" th:value="${#dates.format(jira.fecha_produccion, 'dd-MM-yyyy')}" type="text" th:class="${jira.fecha_produccion != null ? 'input_fecha_verde' : 'input_sinfecha'}	" placeholder="aa-mm-yyyy" autocomplete="off">
					  			</td>	
					  								  			
								<td>
									<div class="d-flex">
										<button onclick="guardar_fecha(this)" title="Guardar" class="btn btn-icons btn-rounded btn-outline-success">
						                	<i class="mdi mdi-content-save"></i>
						                </button>									
									</div>																	
								</td>						
					  		</tr>
					  	</tbody>
				  	</table>
				  	
			  	</div>
			  	
		  	</div>
<!----------------------------------------------------------------------- 	FIN	 ------------------------------------------------------->
          </div>
          <footer th:replace="fragments/shared :: header"></footer>         
        </div>
      </div>
   	</div>
   	</div>
<!----------------------------------------------------------------------- 	MODALES	 ------------------------------------------------------->
   	
	<div id="modal_actualizando" class="un_modal">		
		<div class="contenido_modal">
			<div class="card-body">		
				<div class="modal_header2">ACTUALIZANDO...</div>
				<p class="segundero">Se extraerá la información de <b>JIRA</b>. Esto puede tomar unos segundos, por favor espere.</p>
				<br><br>
				<div class="bar-loader">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="segundero">Duración del proceso: <span id="contador_seg"></span> s</div>		  	
			</div>			
		</div>
	</div>
<!------------------------------------------------------------------------------------------------------------>
<!---------------------------------              SCRIPS                      --------------------------------->
<!------------------------------------------------------------------------------------------------------------>
    <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
    <script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
    <script th:src="@{/js/shared/off-canvas.js}"></script>
    <script th:src="@{/js/shared/hoverable-collapse.js}"></script>
    <script th:src="@{/js/shared/misc.js}"></script>
    <script th:src="@{/js/shared/settings.js}"></script>
    <script th:src="@{/js/shared/todolist.js}"></script>
    
    <script th:src="@{/js/shared/data-table.js}"></script>
    <script th:src="@{/js/shared/formpickers.js}"></script>
    <script th:src="@{/js/dashboard.js}"></script>
    <script th:src="@{/js/actu_fechas.js}"></script>
     
    <script th:src="@{/js/shared/formpickers.js}"></script>
</body>
</html>
