<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GSO</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- ESTILOS -->
	<!-- plugins:css -->
	<link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
	<link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/shared/style.css}"/>
    
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.addons.css}">
    <link rel="shortcut icon" th:href="@{images/favicon.png}" />
</head>
<body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper auth auth-bg-1">
        <div class="content-wrapper-login d-flex align-items-center auth  theme-one">

          <div class="row w-100">
            <div class="col-lg-4 mx-auto">
              <div class="auto-form-wrapper">
                <form class="pt-3" th:action="@{/login}" method="post">
                  <div class="form-group">
                    <label class="label">Usuario</label>
                    <div class="input-group">
                      <input type="text" name="username" class="form-control form-control-lg"  placeholder="Usuario">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="mdi mdi-check-circle-outline"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="label">Contraseña</label>
                    <div class="input-group">
                     <input type="password" name="password" class="form-control form-control-lg" placeholder="Contraseña">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="mdi mdi-check-circle-outline"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                     <button class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" type="submit">Ingresar</button>
                  </div>
                  <div class="text-block text-center my-3">
                    <span class="text-small font-weight-semibold">¿No eres administrador?</span>
                    <a th:href="@{/home}" class="text-black text-small">Ingresa como visitante</a>
                  </div>
                </form>
              </div>
              <p class="footer-text text-center">copyright © 2018 BVL.</p>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
  <!-- plugins:js -->
  <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
  <script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script th:src="@{/js/off-canvas.js}"></script>
  <script th:src="@{/js/misc.js}"></script>
  <!-- endinject -->
  </body>

</html>
