	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GSO Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/puse-icons-feather/feather.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.addons.css}">
    <!-- endinject --->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/css/shared/style.css}">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="stylesheet" th:href="@{/css/demo_1/style.css}">
    <!-- ícono navegador --> 
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" /> </head>
    
<body class="sidebar-toggle-display sidebar-hidden">
	<div class="container-scroller">	
	<nav th:replace="fragments/shared :: header"></nav>
      <div class="container-fluid page-body-wrapper">
      	<nav th:replace="fragments/shared :: sidebar"></nav>
      	<div class="main-panel">
          <div class="content-wrapper">
<!-----------------------------------------------------------------------INICIO  ------------------------------------------------------->
			<div class="col-12 grid-margin">
			<div class="card">
				<div class="card-body">
				<div class="row">
					<div class="col-sm-12 col-md-8">
						<h4 id="titulo_graf">Requerimientos de CAVALI</h4> 
					</div>	
					<div class="col-sm-12 col-md-4 texto_derecha">
						
					</div>			
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="jiras_grafico">
							<div class="pie_areas">
								<div id="c3-pie-chart1" ></div>
								<div class="bajo_pie"> <B>Totales:</B> <span  id="graf1_tot"></span></div>
								<div class="bajo_pie"> <B>Seleccionados:</B> <span id="graf1_sele"></span></div>
							</div>	
						</div>				
					</div>
					<div class="col-sm-12 col-md-6">
						<div class="jiras_grafico">
							<div class="pie_areas">
								<div id="c3-pie-chart2" ></div>
								<div class="bajo_pie"> <B>Totales:</B> <span  id="graf2_tot"></span></div>
								<div class="bajo_pie"> <B>Seleccionados:</B> <span id="graf2_sele"></span></div>
							</div>	
						</div>				
					</div>
				</div>
				</div>
				</div>
				</div>
				<div class="col-12 grid-margin">
				<div class="card">
				<div class="card-body">
				
				<div class="row">
					<div class="col-sm-12 col-md-8">
						<h4 id="titulo_lista">Jiras Totales (<span th:text="${count}"></span>)</h4>
					</div>
					<div class="col-sm-12 col-md-4 texto_derecha " >
						<a class="btn btn-outline-primary" th:href="@{/seguimiento/fechas}">
	            			<i class="mdi mdi-pencil">Editar</i>
	            		</a>
					</div>									
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-12">
						<div class="box_leyenda">
							<ul class="leyenda d-flex">		
								<li><i class="mdi mdi-tag et_comp"></i>
									<span id="spanPrue" onclick="filtrar_etiqueta(this)" class="link_etiqueta_com">
										<span data-toggle="tooltip" th:title="'Jiras de compromiso marcados con las etiquetas: (CAVALI) GSOCompromiso, (BVL) BVLCompromiso'" >Compromiso</span>
									</span> 
								</li>
								
								<li><i class="mdi mdi-tag et_prio"></i>
									<span onclick="filtrar_etiqueta(this)" class="link_etiqueta_pri">
										<span data-toggle="tooltip" th:title="'Jiras con prioridad alta marcados con las etiquetas: (CAVALI) GSOPrio, (BVL) BVLPrio'" >Prioritario</span>
									</span>
								</li>
							
								<li><i class="mdi mdi-tag et_mbd"></i>
									<span onclick="filtrar_etiqueta(this)" class="link_etiqueta_mdb"> 
										<span data-toggle="tooltip" th:title="'Jiras de OPERACIONES TI marcados con las etiquetas: (CAVALI) GSOMejoraBD, (BVl) BVLMejoraBD'" >Mejora BD</span>
									</span>
								</li>
							
								<li><i class="mdi mdi-tag et_cri"></i> 
									<span onclick="filtrar_etiqueta(this)" class="link_etiqueta_cri">
										<span data-toggle="tooltip" th:title="'Jiras críticos marcados con las etiquetas:  (CAVALI) GSOCritico, (BVL) BVLCritico'" >Crítico</span>
									</span> 
								</li>
							
								<li><i class="mdi mdi-tag et_ate"></i> 
									<span onclick="filtrar_etiqueta(this)" class="link_etiqueta_reg">
										<span data-toggle="tooltip" th:title="'Jiras con baja prioridad marcados con las etiquetas: (CAVALI) GSORegular, (BVL) BVLRegular'" >Regular</span>
									</span> 
								</li>
								
							</ul>								
						</div>
					</div>
					
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="d-flex texto-peque">
							<label>Buscar en la tabla: </label>
							<input onkeyup="buscar(this)" class="buscador_sobretabla" type="text">
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<div class="input-group alin_bot texto-peque texto_derecha">
							<label class="col-sm-6 col-form-label">Area:</label>
							<select id="filtro" onchange="filtrar()" name="filtro" class="form-control border-primary col-sm-6">
								<option th:value="6">Todos</option>
								<option th:each="area:${listaAreas}" th:value="${area.id}" th:text="${area.nombre}"></option>								
							</select>
							<span class="input-group-append">								
							</span>
						</div>	
					</div>
				</div>
				<div class="contenedor_tabla">
					
					<table id="tabla" class="table table-striped table-hover">	
						<thead>
					  		<tr>
					  			<th>Jira </th>
					  			<th>Área</th>					  			
					  			<th>Tipo</th>					  			
					  			<th>Descripcón</th>		
								<th class="centrado">Estado</th>		
								<th>Asignado</th>	
								<th>Responsable</th>								
								<th>Pruebas Usuario</th>	
								<th>Pase a producción</th>	
								<th style="min-width: 120px;">Monto Total aprobado (S/)</th>						
														
					  		</tr>					  		
					  	</thead>				
					  	<tbody>
					  		<tr th:each="jira:${lstJiras}">	
					  			<td th:class="${jira.etiqueta.css_class}" ><a th:href="'https://jira.cavali.com.pe:8443/browse/' +${jira.jira}" target=”_blank” th:text="${jira.jira}"></a></td>					  						  			
					  			
					  			<td th:text="${jira.areaSolicitante != null} ? ${jira.areaSolicitante.nombrecorto} : '-'"></td>					  			
					  			
					  			<td class="d-flex">
					  				<span th:if="${jira.indicador!=null}" th:class="${jira.indicador.css_class}"><i th:class="${jira.indicador.icon_ind_contable}"></i></span>
					  				<span th:if="${jira.tipoRequerimiento!=null}" th:class="${jira.tipoRequerimiento.css_class}"><i th:class="${jira.tipoRequerimiento.icon_ind_contable}"></i></span>
					  			</td>
					  			<td th:text="${jira.resumen}"></td>		 
					  			
					  			<td class="centrado"><span th:if="${jira.estadoJira != null && jira.estadoJira.grupoEstado != null}" th:class="${jira.estadoJira.grupoEstado.css_class}" th:text="${jira.estadoJira.grupoEstado.grupoEstado}"></span></td> 	
					  			
					  			<td th:text="${jira.asignado}"></td> 	
					  			<td th:text="${jira.responsable}"></td>	
					  			<td>
					  				<span th:if="${jira.fecha_pruebas!= null}" class="fechas_azul" th:text="${#dates.format(jira.fecha_pruebas, 'dd-MM-yyyy')}"></span>
					  				<span th:if="${jira.fecha_pruebas == null}" class="font-gris">Por definir</span>
					  			</td>
					  			<td>
					  				<span th:if="${jira.fecha_produccion!=null}" class="fechas_verde" th:text="${#dates.format(jira.fecha_produccion, 'dd-MM-yyyy')}"></span>
					  				<span th:if="${jira.fecha_produccion == null}" class="font-gris">Por definir</span>
					  			</td>
					  			<td>
					  				<span data-toggle="tooltip" th:title="${jira.fabrica.nombre}+ ': S/ ' + ${#numbers.formatDecimal(jira.monto_des, 0, 'DEFAULT', 2, 'DEFAULT')} + ' - Pandora: S/ '   + ${#numbers.formatDecimal(jira.monto_cert, 0, 'DEFAULT', 2, 'DEFAULT')}" th:if="${jira.monto_total != 0}" th:text="'S/ ' + ${#numbers.formatDecimal(jira.monto_total, 0, 'DEFAULT', 2, 'DEFAULT')}"></span>
					  				<span th:if="${jira.monto_total == 0}" class="font-gris">Por estimar</span>
					  			</td>
					  			
					  			
					  			<!-- td data-toggle="tooltip" th:title="${jira.fabrica} + ': S/ ' +${#numbers.formatDecimal(jira.monto_desarollo, 0, 'DEFAULT', 2, 'DEFAULT')} + ' - Pandora: S/ ' + ${#numbers.formatDecimal(jira.monto_cert, 0, 'DEFAULT', 2, 'DEFAULT')}" th:class="${jira.monto_total != 0} ? 'td_monto' : 'td_monto disable'" th:text="${jira.monto_total != 0} ?  'S/ ' + ${#numbers.formatDecimal(jira.monto_total, 0, 'DEFAULT', 2, 'DEFAULT')} : 'Por estimar'"></td>
					  			 -->
					  			
					  			<td style="display: none;" th:text="${jira.etiqueta.nombre}"></td> 	
					  			
					  		</tr>
					  	</tbody>
				  	</table>
				  	
			  	</div>
			  	</div>
		  	</div>
		  	</div>
<!----------------------------------------------------------------------- 	FIN	 ------------------------------------------------------->
          </div>
          <footer th:replace="fragments/shared :: header"></footer>         
        </div>
      </div>
   	</div>
   	
<!----------------------------------------------------------------------- 	MODALES	 ------------------------------------------------------->
   	
	<div id="modal_actualizando" class="un_modal">		
		<div class="contenido_modal">
			<div class="card-body">		
				<div class="modal_header2">ACTUALIZANDO...</div>
				<p class="segundero">Se extraerá la información de <b>JIRA</b>. Esto puede tomar unos segundos, por favor espere.</p>
				<br><br>
				<div class="bar-loader">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="segundero">Duración del proceso: <span id="contador_seg"></span> s</div>		  	
			</div>			
		</div>
	</div>
<!------------------------------------------------------------------------------------------------------------>
<!---------------------------------              SCRIPS                      --------------------------------->
<!------------------------------------------------------------------------------------------------------------>
    <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
    <script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
    <script th:src="@{/js/shared/off-canvas.js}"></script>
    <script th:src="@{/js/shared/hoverable-collapse.js}"></script>
    <script th:src="@{/js/shared/misc.js}"></script>
    <script th:src="@{/js/shared/settings.js}"></script>
    <script th:src="@{/js/shared/todolist.js}"></script>    
    <script th:src="@{/js/shared/data-table.js}"></script>
    <script th:src="@{/js/shared/tooltips.js}"></script>
    <script th:src="@{/js/shared/popover.js}"></script>
    <script th:src="@{/js/dashboard.js}"></script>
    <script th:src="@{/js/shared/chart.js}"></script>   
    <script th:src="@{/js/menus.js}"></script>    
    <script type="text/javascript">
    	cargar_menus();
	</script>
     
    <script th:inline="javascript">
    
    var arreglo_atendido = /*[[${arreglo_atendidos}]]*/ 'default';
    console.log(arreglo_atendido);
    var arreglo_no_atendido = /*[[${arreglo_noatendidos}]]*/ 'default';
    console.log(arreglo_no_atendido);
    
    var total1 = document.getElementById('graf1_tot');
	var tot = 0;
	for (i = 0; i < 6; i++) { 
		  tot += arreglo_atendido[i];
		}
	total1.innerHTML = tot;
    var c3PieChart = c3.generate({
		bindto : '#c3-pie-chart1',
		data : {
			// iris data from R
			columns : 
				[ [ 'LIQ', arreglo_atendido[0] ], 
				[ 'PAR', arreglo_atendido[3] ], 
				[ 'GA', arreglo_atendido[2] ],
				[ 'FT', arreglo_atendido[4] ], 
				[ 'OTI', arreglo_atendido[1] ], 
				[ 'Otros',arreglo_atendido[5] ], ],
			type : 'pie',
			onclick : function(d, i) {
				var area_seleaccionada = document.getElementById('graf1_sele');
				area_seleaccionada.innerHTML = d.value  + ' - ' + d.id;
			},
			onmouseover : function(d, i) {
				//console.log("onmouseover", d, i);
			},
			onmouseout : function(d, i) {
				//console.log("onmouseout", d, i);
			}
		},
		size : {
			height : 280,
			width : 400
		},
		title : {
			text : "Distribución de Jiras en atención por área"
		},
		color : {
			pattern : [ '#ffaf00', '#2196f3', '#19d895', '#ff6258', '#c32c92',
					'#5abcf1' ]
		},
		padding : {
			top : 0,
			right : 0,
			bottom : 30,
			left : 0,
		}
	});
    
    var total2 = document.getElementById('graf2_tot');
	var tot = 0;
	for (i = 0; i < 6; i++) { 
		  tot += arreglo_no_atendido[i];
		}
	total2.innerHTML = tot;
	var c3PieChart = c3.generate({
		bindto : '#c3-pie-chart2',
		data : {
			// iris data from R
			columns : 
				[ [ 'LIQ', arreglo_no_atendido[0] ], 
				[ 'PAR', arreglo_no_atendido[3] ], 
				[ 'GA', arreglo_no_atendido[2] ],
				[ 'FT', arreglo_no_atendido[4] ], 
				[ 'OTI', arreglo_no_atendido[1] ], 
				[ 'Otros',arreglo_no_atendido[5] ], ],        				
			type : 'donut',
			onclick : function(d, i) {
				var area_seleaccionada = document.getElementById('graf2_sele');
				area_seleaccionada.innerHTML = d.value + ' - ' + d.id;
				//console.log("onclick", d, i);
			},
			onmouseover : function(d, i) {
				//console.log("onmouseover", d, i);
			},
			onmouseout : function(d, i) {
				//console.log("onmouseout", d, i);
			}
		},

		size : {
			height : 280,
			width : 400
		},
		title : {
			text : "Distribución de Jiras NO atendidos por área"
		},
		color : {
			pattern : [ '#ffaf00', '#2196f3', '#19d895', '#ff6258', '#c32c92',
					'#5abcf1' ]
		},
		padding : {
			top : 0,
			right : 0,
			bottom : 30,
			left : 0,
		}
	});
		
    </script>
</body>
</html>
